/* Flex container */
.product-grid {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples líneas */
  justify-content: space-between; /* Espacio entre tarjetas */
  gap: 16px;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

/* Estilos de las cards */
.card {
  width: 300px; /* Ancho fijo para las cards */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 16px; /* Espacio entre las tarjetas en la dirección vertical */
}

.card:hover {
  transform: scale(1.02);
}

/* Aseguramos que la imagen siempre se vea correctamente */
.product-image {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen dentro del contenedor */
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

.card-content p {
  font-size: 0.9em;
  margin: 8px 0;
}

.card-actions {
  padding: 16px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.buy-button:hover {
  background-color: #0056b3;
}
